    #canvas {
      border: 10px solid red;
      display: block;
      margin: 20px auto;
      background-color: black;
    }
    img.hidden {
      visibility: hidden;
      position: absolute;
    }
    body {
      background-image: url('img_space.jpg');
      background-size: cover;
      background-position: center;
    }
    h1 {
      color: red;
      text-align: center;
    }
#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  top: 50%;                
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}

